<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Exchange Rate</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<script>
const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}
</script>

</head>

<body style="background-color:rgb(140, 201, 183);">
  
    
  <div class="container-fluid">

	  
      
      {% for msg in message |reverse%}
      
      <div class="text-body">
        <h4>{{msg}}</h4>
      </div>
      {% endfor %}
    
    <form action="/"  method="post" id = 1 >

    </form>

    <script>sleep(2000).then(() => {
      document.getElementById("1").submit();
    })</script>
  </div>
</body>
</html>

