<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<title>Exchange Rate</title>


</head>

<body style="background-color:rgb(140, 201, 183);">
  
  
      
  
	
<div class="container">  
  
  <form action="/"  method="post" id="2" >
    <div class="row">
      <div class="col-xs-3">name</div>
      <div class="col-xs-5">value</div>
      <div class="col-xs-4">time</div>
   </div>
        
    {% for id,index in indexes.items()%}
    <div class="row">
      <label class = "col-xs-3" for={{index.name}}>{{index.name}}:</label>
		  <input value = {{id}} type="hidden" name="index_id">
      <input class="col-xs-5" type="text"  name={{id}} value={{index.value}}>
		  <input class="col-xs-4"type="text"  name={{id}} value={{index.time}}><br>
    </div>
		
	
    {% endfor %}

    <button type="submit"  class="btn btn-success" name="save" value="save data"> Save </button>
    
  
  </form>
  
  <a href="/download1"><button class="btn btn-success">Download First Page</button></a>
  <a href="/download2"><button class="btn btn-success">Download Second Page</button></a>
</div>
 
  </html>







  <script>sleep(2000).then(() => {
    document.getElementById("1").submit();
  })</script>

  </body>
</html>

